.hot-product-container {
    justify-content: center;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .example-card {
      margin: 5px 5px 5px 5px;
      width: 320px;
  }